/* Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
	/*line-height: 1;*/
	font-family: 'Comfortaa', cursive;
	position: relative;
 margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin du Reset*/

/* Définition des polices personnalisées */

@font-face
{
	font-family: 'Poiret One', cursive;
	font-family: 'Comfortaa', cursive;
}

h4{
	font-weight: bold;
	font-size: 18px;
}

a {
	text-decoration: none;
}

i{
	margin-right: 5%;
}

/*== Menu horizontal ==*/
#op-horizontalnav {
	background: rgba(000, 000, 000, 0.7);
	position:fixed;
	top:0;
	width: 100%;
	z-index: 4;
}
#op-horizontalnav .op-sectionlist {
	width:100%;
	max-width:1280px;
	margin:auto;
	padding:0;
	text-align:center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Comfortaa', cursive;
}
#op-horizontalnav .rubrique {
	list-style:none;
	display:table-cell;
	font-size:18px;
}
#op-horizontalnav .rubrique .lien-rubrique {
	color:#fff;
	padding:16px 8px;
	display:block;
	text-decoration:none;
}
#op-horizontalnav .rubrique .lien-rubrique:hover, #op-horizontalnav .lien-rubrique.active {
	color: #ffd700;
}

#op-horizontalnav .contact{
	display: flex;
	flex-direction: column;
	font-family: 'Comfortaa', cursive;
	font-size: 1.3em;
	/*font-weight: bold;*/
	color: #ffd700;
	width: 12%;
}
#op-horizontalnav .coordonnees a{
	font-size: 0.9em;
	font-family: 'Poiret One', cursive;
	color: white;
}


/*== Sections ==*/
section h1 {
	padding: 40%;
	text-align:center;
	color:white;
	margin:0;
}

	/*Chaque partie de la one-page contient une image différente*/

#accueil{
	background-image: url('https://j.gifs.com/vo26nm.gif');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#intro{
	background-image: url('../img/music.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#demo{
	background-image: url('../img/guitar6.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#contact{
	background-image: url('../img/guitar3.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#reservation{
	background-image: url('../img/guitar4.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}


.presentation{
	color: white;
	background-color: rgba(000, 000, 000, 0.7);
	margin: auto;
	text-align: justify;
	width: 70%;
	padding: 5%;
	font-size: 1.1em;
}

.presentation p, ul{
	margin: 2%;
	padding: 0px 50px;
}

.presentation h2{
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	margin-bottom: 5%;
}
.styleCompo h2{
	text-align: left;
  padding-left: 8%;
  margin-top: 5%;
}

.texte{
margin-top: 10%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.texte p{
	margin: 1%;
	display: flex;
	justify-content: center;
}

.texte h1{
	font-size: 1.3em;
	font-weight: bold;
}

/*Formulaire d'inscription*/


form h1{
	font-size: 38px;
	font-weight: bold;
	margin: 3%;
	text-align: center;
	font-family: 'Poiret One', cursive;
}

.formulaire{
	margin: 10% 2% 0 2%;
}

.formulaire p{
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	width: 500px;
}

/*Modif résa*/
.formulaire h4{
margin-bottom: 4%;
}

.centre{
	display: flex;
	justify-content: center;
	padding-top: 20%;
}

.reservations{
	margin: 3%;
	display: flex;
	justify-content: center;
}

.connection a{
	color: #ffbf00;
	font-weight: bold;
}

.button{
	margin: 12% 0% 3% 0%;
	padding: 5px;
	border-radius: 8px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 1.3em;
	background-color: #ffbf00;
	cursor: pointer;
	color:dimgrey;
}

.button:hover{
	background-color: #f5e12e;
	color: black;
}

.button a{
	margin: 12% 0% 3% 0%;
	padding: 5px;
	border-radius: 8px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 1em;
	background-color: #f5e12e;
	cursor: pointer;
	color:dimgrey;
}

.button a:hover{
	background-color: yellow;
	color: black;
}

#erreur{
	display: none;
}

.false{
	margin-bottom:-20%;
	color: red;
	font-size: 18px;
}

/*Message création, modif et suppression bien prise en compte*/
.ok{
margin: 4%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: darkgreen;
font-size: 18px;
font-weight: bold;
}

/*Bouton haut*/

.scrollToTop{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  height: 50px;
  width: auto;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

/* Footer */

footer{
	height: 120px;
	background-color: black;
	background-size: cover;
	background-position: bottom;
	font-family: 'Poiret One', cursive;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 450px;
	font-size: 1.4em;
	font-weight: bolder;
}

.footer a {
	color: white;
}

.footer a:hover{
	color: #ffd700;
}

.rs ul
{
  list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 200px;
}

.rs a{
    color: white;
}
.rs a:hover{
	color: #ffd700;
}


/*Formulaire stylé*/
.container {
	margin: 15% auto;
	position: relative;
	/*width: 900px;*/
}
#content {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
}
#content h1 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
	padding: 0%;
}
#content h1:before,
#content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="email"],
#content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
/*#content form input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#content form input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}*/
#content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}



/*Responsive tablette*/
@media screen and (max-width: 900px){
	#demo iframe{
		max-width: 100%;
	}
	#op-horizontalnav .op-sectionlist {
		flex-direction: column;
	}
	#logo{
		display: none;
	}
	#op-horizontalnav .contact{
		display: none;
	}
    .footer{
				max-width: 80%;
        font-size: 1.3em;
    }

		/*Modif résa*/
.formulaire h4{
	margin: 10% 0 10% 0;
}

		/*Nouveau menu*/
		#nav-icon3{
			width: 52px;
		  height: 40px;
		  position: fixed;
		  margin: 20px;
		  -webkit-transform: rotate(0deg);
		  -moz-transform: rotate(0deg);
		  -o-transform: rotate(0deg);
		  transform: rotate(0deg);
		  -webkit-transition: .5s ease-in-out;
		  -moz-transition: .5s ease-in-out;
		  -o-transition: .5s ease-in-out;
		  transition: .5s ease-in-out;
		  cursor: pointer;
		}
		 #nav-icon3 span{
			 display: block;
			  position: absolute;
			  height: 9px;
			  width: 100%;
			  background: white;
				border: 1px solid black;
			  border-radius: 9px;
			  opacity: 1;
			  left: 0;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out;
			  -moz-transition: .25s ease-in-out;
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
		 }
		 #nav-icon3 span:nth-child(1) {
			  top: 0px;
			}

			#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
			  top: 15px;
			}

			#nav-icon3 span:nth-child(4) {
			  top: 30px;
			}

			#nav-icon3.open span:nth-child(1) {
			  top: 15px;
			  width: 0%;
			  left: 50%;
			}

			#nav-icon3.open span:nth-child(2) {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			}

			#nav-icon3.open span:nth-child(3) {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}

			#nav-icon3.open span:nth-child(4) {
			  top: 15px;
			  width: 0%;
			  left: 50%;
			}

}

/*Responsive smartphone*/
@media screen and (max-width: 480px){
	#demo iframe{
		max-width: 100%;
	}
	/*Modif résa*/
.formulaire h4{
margin: 18% 0 10% 0;
}
	/*Nouveau menu*/
	#nav-icon3{
		width: 52px;
		height: 40px;
		position: fixed;
		margin: 20px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}
	 #nav-icon3 span{
		 display: block;
			position: absolute;
			height: 9px;
			width: 100%;
			background: white;
			border: 1px solid black;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
	 }
	 #nav-icon3 span:nth-child(1) {
			top: 0px;
		}

		#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
			top: 15px;
		}

		#nav-icon3 span:nth-child(4) {
			top: 30px;
		}

		#nav-icon3.open span:nth-child(1) {
			top: 15px;
			width: 0%;
			left: 50%;
		}

		#nav-icon3.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		#nav-icon3.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		#nav-icon3.open span:nth-child(4) {
			top: 15px;
			width: 0%;
			left: 50%;
		}

	#logo {
		display: none;
	}
	#op-horizontalnav .contact{
		display: none;
	}
	#op-horizontalnav .op-sectionlist {
		flex-direction: column;
	}
	.presentation{
		width: 65%;
		text-align: initial;
		font-size: 1em;
	}
	.presentation h2{
		font-size: 1.2em;
	}
	.presentation p, ul{
		margin: 2%;
		padding: 0px;
	}
	.menuSandwich{
		margin: 3px 0px;
	}
	.video{
		max-width: 350px;
	}

	form{
		max-width: 100%;
	}
	.formulaire p{
		max-width: 100%;
		font-size: 1.1em;
		margin: 3% 0%;
	}
	footer{
		height: 130px;
	}
	.footer{
		max-width: 80%;
		font-size: 1.2em;
	}
	.rs {
		font-size: 1.1em;
	}
	/*formulaire*/
	.container {
		margin: auto;
		padding-top: 25%;
		/*position: relative;*/
		width: 80%;
	}
	#content{
		width: 100%;
	}
}
